<h1>Create Course</h1>
<div class="errors">
  <%=error_messages_for 'course' %>
</div>

<%form_for :course do |form|%>
  <table>
    <tr>
      <td>Name</td>
      <td><%= form.text_field :name, :size => 40 %> </td>
    </tr>
    <tr>
      <td>Description</td>
      <td><%= form.text_field :description, :size => 40 %> </td>
    </tr>
    <tr>
      <td>Discipline</td>
      <td><%= form.select :discipline_id, @disciplines%> </td>
    </tr>
    <tr>
      <td></td>
      <td><%= submit_tag %></td>
    </tr>
  </table>
<%end%>
